h1 {
    color: blue;
}

.heart { 
    display:inline-block;
    width: 200px; 
    aspect-ratio: 1;
    border-image: radial-gradient(red 69%,#0000 70%) 84.5% fill/100%;
    clip-path: polygon(-41% 0,50% 91%, 141% 0);
  }


.box {
    height: 400px;
    background-color: cornsilk;
    border: 4px solid red;
    display: flex;
}